matplotlib==3.6.3
numpy==1.19.5
scipy
opencv-python
# tensorflow==2.4.1
tensorflow-gpu==2.4.1
tensorboard==2.11.2
protobuf==3.20
tqdm

## uncomment the following dependencies for generating tfrecords
## or using notebooks
# pycocotools
trimesh
# networkx
pyglet==1.5.27
pyvirtualdisplay
#ipykernel

